.plus,
.minus {
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: white;
}
.plus img,
.minus img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.unit-price {
  margin: auto;
}

.수량 {
  position: relative;
}
.수량 .quantity-option {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cart-product-item {
  position: relative;
}
