.join-article {
  width: 550px;
}

.join-form {
  width: 550px;
  height: 1100px;
  margin: 70px auto;
}
.logo {
  display: block;
  width: 238px;
  height: 74px;
  margin: 70px auto;
}
.join-wrapper {
  width: 550px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.join-wrapper .join-type-wrapper {
  width: 100%;
  height: 60px;
  display: flex;
}
.join-wrapper .join-type-wrapper .customer-join,
.join-wrapper .join-type-wrapper .seller-join {
  width: 275px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #c4c4c4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f2f2f2;
  border-bottom: none;
  z-index: -100;
}

.join-wrapper .join-type-wrapper .customer-join.selected,
.join-wrapper .join-type-wrapper .seller-join.selected {
  background-color: white;
  z-index: 30;
  border-bottom: none;
  height: 61px;
}
.join-area {
  padding: 35px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  box-sizing: border-box;
  z-index: 20;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: white;
}

input {
  height: 60px;
  outline: none;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 12px;
}
.id-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.id-inp-wrapper {
  display: flex;
  gap: 12px;
}
.id-inp-wrapper input {
  width: 346px;
}
.id-wrapper button {
  width: 122px;
  border-radius: 5px;
  background-color: #21bf48;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.pw-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.phone-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.phone-inp-wrapper {
  display: flex;
  gap: 12px;
}
.phone-inp-wrapper .phone-input .phone-inp-wrapper select {
  width: 152px;
}
.phone-first {
  width: 152px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  text-align: center;
  font-size: 16px;
}

.email-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.email-inp-wrapper {
  display: flex;
  align-items: center;
  gap: 11px;
}
.email-inp-wrapper input {
  width: 220px;
}
.ent-wrapper {
  display: flex;
  gap: 12px;
}
.ent-input {
  width: 346px;
}
.ent-input + button {
  width: 122px;
  height: 60px;
  border-radius: 5px;
  background-color: #21bf48;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.terms-wrapper {
  width: 480px;
  height: 40px;
  display: flex;
  margin: 34px auto;
}
.terms-wrapper input {
  position: relative;
  height: 40px;
  top: 0;
}

.terms-wrapper span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-btn {
  width: 480px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0 40px;
  color: white;
  background-color: #c4c4c4;
  font-size: 18px;
  font-weight: 700;
}
