html {
  height: 2000px;
}
.login-form {
  width: 550px;
  margin: 80px auto;
}
.logo {
  display: block;
  width: 238px;
  height: 74px;
  margin: 70px auto;
}
.login-wrapper {
  width: 550px;
  height: 352px;
  display: flex;
  flex-direction: column;
}

.login-wrapper .login-type-wrapper {
  width: 100%;
  height: 60px;
  display: flex;
}
.login-wrapper .login-type-wrapper .customer-login,
.login-wrapper .login-type-wrapper .seller-login {
  width: 275px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #c4c4c4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f2f2f2;
  border-bottom: none;
}

.login-wrapper .login-type-wrapper .customer-login.selected,
.login-wrapper .login-type-wrapper .seller-login.selected {
  background-color: white;
  z-index: 30;
  border-bottom: none;
  height: 61px;
}
.login-area {
  padding: 35px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  box-sizing: border-box;
  z-index: 20;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: white;
}

.id-inp,
.pw-inp {
  height: 60px;
  outline: none;
  border-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.login-btn {
  height: 60px;
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.etc-wrapper {
  margin-top: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.etc-wrapper a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
}
